spring:
  application:
    name: employee-management

  datasource:
    url: jdbc:postgresql://localhost:5432/ems_db
    driver-class-name: org.postgresql.Driver
    username: postgres
    password: root

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
